

// colors
$bg-button: #1e837e;
$bg-hover-button:#00dc82;
$disabled:#ddd;
$bg-primary: #2196F3;
$bg-card: rgba(185, 255, 0, 0.6);
$bg-hover-card: rgba(94, 128, 0, 0.88);
$bg-error: #ce0211;


// screen size

$xl: 1400px;
$md: 900px;
$sm: 650px;